<!doctype html>
<html>

<head>
    <title>Softomate example extension</title>

    <link rel="stylesheet" type="text/css" href="../assets/css/popup.css">

    <script type="text/javascript" src="../assets/plugins/jquery-custom.min.js"></script>
    <script type="text/javascript" src="../assets/plugins/handlebars.min.js"></script>
    <script type="text/javascript" src="../assets/js/popup.js"></script>
</head>

<body>
    <h1>Available urls</h1>
    <div id="container">
        <script id="template" type="text/x-handlebars-template">
            <ul class="list__group">
                {{#each this}}
                <li class="list__group__item">
                    <a href="http://{{domain}}" target="_blank">
                        <img class="list__group__item__logo" src="http://{{domain}}/favicon.ico" />
                        <span>{{name}}</span>
                    </a>
                </li>
                {{/each}}
            </ul>
        </script>
    </div>
</body>

</html>